<% layout('/layouts/boilerplate') %>
<div class="row">
  <div class="col-6 offset-3">
    <div class="card mb-3">
      <img src="<%= campground.image %>" class="card-img-top" alt="..." />

      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%= campground.description %></p>
      </div>
      
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= campground.location %></li>
        <li class="list-group-item">$<%= campground.price %>.00/night</li>
      </ul>

      <div class="card-body">
        <a href="/campgrounds/<%=campground.id%>/edit" class="card-link btn btn-info">Edit</a>
        <form action="/campgrounds/<%=campground.id%>/?_method=DELETE" class="d-inline" method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>

      <div class="card-footer">
        2 days ago
      </div>
    </div>
  </div>
</div>

<h1><%= campground.title %></h1>
<h2><%= campground.location %></h2>
<img src="<%= campground.image %>" alt="" />
<p><%= campground.description %></p>
<h3>$<%= campground.price %>.00/night</h3>

<div>
  <form action="/campgrounds/<%=campground.id%>/?_method=DELETE" method="POST">
    <button>Delete</button>
  </form>
</div>
<footer>
  <a href="/campgrounds/<%=campground.id%>/edit"><button>Edit</button></a>
  <a href="/campgrounds"><button>Go Back</button></a>
</footer>
